{{ partial "head" . }}
{{ partial "nav" . }}
  <div class="mw6 center ph3 pv4">
    <h1 class="f2 lh-title b mb3">{{.Title}}</h1>
    <div class="flex justify-between grey-3">
      <p>{{ .Date.Format "Mon, Jan 2, 2006" }}</p>
    </div>
    <div class="cms mw6">
		title: garbage script
		---

		THE SHOW
		===

		# CHARACTERS:
		## DP:
		A vain but unsuccessful filmmaker.  He flees to Canada from the UK thinking that he's being pursued by the banking authorities for a mysterious $3 million that suddenly appeared in his account there.  In Canada, he finds work as a documentarian for a private investigation firm who have tasked him with following KH Heilbron around and documenting his life.  Still paranoid about the money, he sinks it into buying a shady propoganda graffiti company (idea: let's make DP think it's a waste disposal company called Garbage co.) whose operations he knows nothing of whatsoever.
    </div>
  </div>

