{{ partial "head" . }}
{{ partial "nav" . }}
{{ partial "jumbotron" (dict "imageUrl" "/img/about/jumbotron.jpg" "title" "Values") }}

<div class="mw7 center ph3 pt4">

  {{ partial "media-block" (dict "heading" "Shade" "text" "ecies." "imageUrl" "") }}

  {{ partial "media-block-reverse" (dict "heading" "Single origin" "text" "e it was grown to." "imageUrl" "") }}

  {{ partial "media-block" (dict "heading" " farming" "text" "Sustainable agriculture for nature and communities." "imageUrl" "") }}

  {{ partial "media-block-reverse" (dict "heading" "Direct sourcing" "text" " that encourage and ." "imageUrl" "") }}

  {{ partial "media-block" (dict "heading" "profits" "text" "We want to blog." "imageUrl" "") }}
</div>

{{ partial "footer" . }}
